:root {
  --white:#ffffff;
  --dark:#555454;
  --blue:#015CAB;
  --blue-secondary:#075294;
  --yellow:#efb100;
  --black:#3A3A3A;
  --fontFamily:"Poppins," sans-serif;
  --color-neutral-500:#171717;
}

body {
  overflow-x: hidden;
}

/*form */
.Swiper-salesforces .swiper-slide {
  width: auto !important;
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto !important;
}
.Swiper-salesforces .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Swiper-salesforces .swiper-container {
  width: 100%;
  height: 100%;
}
.Swiper-salesforces .form-berlangganan-next:after {
  font-family: swiper-icons;
  font-size: 0;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}
.Swiper-salesforces .form-berlangganan-prev {
  left: auto;
}
.Swiper-salesforces .form-berlangganan-prev:after {
  font-family: swiper-icons;
  font-size: 0;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

/* swiper */
#form-berlangganan .form-check-label {
  font-family: var(--fontFamily) !important;
  margin-bottom: 10px;
}

.detail-form {
  /* background: #FAB91D; */
  background-size: cover;
  background: url(http://www.linknet.id/files/photos/shares/component/background/bg-yellow-ln.webp) center top no-repeat rgb(255, 204, 0);
  background: #F5F5F7;
}
.detail-form.detail-form-first-klaz {
  /* background: #FAB91D; */
  background-size: cover;
  background: url(http://www.linknet.id/files/photos/shares/component/background/bg-firstklaz.webp) center top no-repeat rgb(255, 204, 0) !important;
}
.detail-form form {
  background: #FFFFFF;
  box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.1);
  border-radius: 25px 25px 0px 0px;
  padding: 30px 40px;
  min-height: 75vh;
}

.form-text h2 {
  font-weight: bold;
  font-size: 32px;
  color: var(--blue) !important;
  font-family: var(--fontFamily) !important;
  line-height: 45px;
}
.form-text h6 {
  font-weight: normal;
  font-size: 14px;
  color: var(--blue) !important;
  font-family: var(--fontFamily) !important;
}
.form-text h4 {
  font-weight: bold;
  font-size: 32px;
  color: var(--blue);
}

@media (max-width: 700px) {
  .form-text h4 {
    text-align: center;
  }
}
.form-label-group {
  position: relative;
  margin-bottom: 0px;
  margin-top: 12px;
  cursor: auto !important;
}

.form-fmb-all {
  background-color: var(--white) !important;
  box-shadow: none !important;
  border: 1px solid #CED4DA !important;
  border-radius: 0.75rem !important;
}
.form-fmb-all:hover, .form-fmb-all:focus {
  background-color: var(--white) !important;
  box-shadow: none !important;
  border-radius: 10px !important;
  color: #3A3A3A !important;
  border: 1px solid #CED4DA !important;
}

.text-paket-promo-form-upload-failed {
  background-color: #F3F3F4 !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 10px !important;
  color: #3A3A3A !important;
  border: 2px #FF0000 solid !important;
}

.form-label-group > input, .form-label-group > label {
  padding-top: 17px;
  padding-bottom: 21px;
  height: auto;
  font-family: "Poppins" !important;
  height: calc(3.8rem + 2px);
}
.form-label-group > input {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}
.form-label-group > label {
  position: absolute;
  top: 8px;
  left: 14px;
  display: block;
  width: 94%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 0.8;
  color: #3A3A3A;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
  font-weight: 400;
  font-size: 13px;
}

.form-label-group input::-ms-input-placeholder, .form-label-group input::-moz-placeholder, .form-label-group input::placeholder {
  color: transparent;
}
.form-label-group input:not(:-moz-placeholder-shown) {
  padding-top: 28px;
  padding-bottom: 8px;
  padding-left: 16px;
}
.form-label-group input:not(:placeholder-shown) {
  padding-top: 28px;
  padding-bottom: 8px;
  padding-left: 16px;
}
.form-label-group input:not(:-moz-placeholder-shown) ~ label {
  padding: 4px 2px;
  font-size: 12px;
  color: #999B9D;
  font-family: var(--fontFamily) !important;
  background-color: transparent;
  width: auto;
  transform: translateY(2px);
}
.form-label-group input:not(:placeholder-shown) ~ label {
  padding: 4px 2px;
  font-size: 12px;
  color: #999B9D;
  font-family: var(--fontFamily) !important;
  background-color: transparent;
  width: auto;
  transform: translateY(2px);
}

.fmb-form-group {
  padding: 20px 230px !important;
  padding-bottom: 0 !important;
}

.fmb-form-check-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #616161;
}

.form-check-input {
  position: absolute;
  margin-top: 6px;
  margin-left: -1.25rem;
  margin-right: 11px;
}

.fmb-step-title {
  font-family: var(--fontFamily) !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #8C8F9A;
}

.fmb-step-text {
  font-family: var(--fontFamily) !important;
  margin-top: 20px;
  margin-bottom: 25px;
}
.fmb-step-text h5 {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #2D3244;
}
.fmb-step-text p {
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #595959;
}

.bs-stepper-circle {
  height: 48px;
  width: 48px;
  border-radius: 70px;
  padding: 14px;
}

.bs-stepper-header {
  display: flex;
  align-items: center;
  padding: 0 37%;
}

.text-step-header {
  padding: 20px 0;
}
.text-step-header span {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: var(--color-neutral-500);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.text-step-header h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--white);
}

.bs-stepper .content.fade.active, .bs-stepper-pane.fade.active {
  visibility: visible;
  opacity: 1;
  /* padding-bottom: 125px; */
}

#stepper-1 .bs-stepper .step-trigger {
  padding: 0;
  height: 100%;
}

.bs-stepper-header {
  margin-top: 35px;
}

.floating-label {
  position: relative;
  margin-bottom: 0px;
  margin-top: 12.5px;
  background-color: var(--white);
  border-radius: 10px !important;
  padding: 4px;
  padding-top: 14px;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  border: 1px solid #CED4DA !important;
}
.floating-label:hover, .floating-label:focus {
  /* position: relative;
  * *margin-bottom: 0px;
  * *margin-top: 20px;
  * *background-color: var(--white);
  * *border-radius: 10px !important;
  * *padding: 4px;
  * *padding-top: 14px;
  * *padding-bottom: 8px;
  * *border: 1px solid #CED4DA !important; */
}

/* Diubah 27 Mei 2022 */
.floating-input, .floating-select {
  font-size: 10px;
  padding: 0 15px;
  display: block;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

/* Diubah 27 May 2022 */
.floating-input:focus, .floating-select:focus {
  /* padding-top: 19px; */
  /* padding-left: 10px; */
  outline: none;
  /* height: 39px; */
}

.floating-label label {
  padding: 3px;
  font-size: 10px;
  color: #999B9D;
  font-family: var(--fontFamily) !important;
  background-color: transparent;
  width: auto;
  transform: translateY(-2px) translateX(3px);
  position: absolute;
  pointer-events: none;
  left: 11px;
  top: 7px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  font-size: 10px;
  padding: 3px 0px;
  color: #999B9D;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
}

.floating-select {
  font-family: var(--fontFamily) !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #262626;
  font-family: "poppins", sans-serif !important;
  font-weight: 600;
}
.floating-select:focus ~ label, .floating-select:not([value=""]):valid ~ label {
  top: 10px;
  left: 12px;
  font-size: 10px;
  color: #3A3A3A;
}

/* active state */
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after {
  width: 50%;
}

.floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
  width: 50%;
}

/* highlighter */
.highlight {
  /*      position:absolute;
  * * height:50%; 
  * * width:100%; 
  * * top:15%; 
  * * left:0;
  * * pointer-events:none;
  * * opacity:0.5; */
}

/* active state */
.floating-input:focus ~ .highlight, .floating-select:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

/* animation */
@keyframes inputHighlighter {
  from {
    background: rgba(82, 100, 174, 0);
  }
  to {
    width: 0;
    background: transparent;
  }
}
/****  floating-Lable style end *** */
/*Floating label select */
select {
  width: 100%;
  height: 30px;
  margin-right: 10px;
  -webkit-appearance: none;
  /*Removes default chrome and safari style */
  -moz-appearance: none;
  /*Removes default style Firefox */
  appearance: none;
  /* background: #fff url('https://staging-business.firstmedia.com:8443/files/photos/shares/banner/dropdown-arrow.png') center right no-repeat; */
  background: #fff url("https://www.linknet.id/files/photos/shares/component/form/Arrow.png") center right no-repeat;
  background-size: 22px;
  background-position: right 10px center;
}
select::-ms-expand {
  display: none;
}

/* magic IE fix/hack */
.floating-label select option {
  background-color: var(--white);
  border: 1px solid #CED4DA !important;
  border-radius: 5px !important;
}
.floating-label select option:hover {
  background-color: #e9830f;
  border: none !important;
  border-radius: 5px !important;
}

.select2-container--default .select2-selection--single {
  background: url(https://staging-business.firstmedia.com:8443/files/photos/shares/banner/dropdown-arrow.png) no-repeat right center;
  background-color: transparent !important;
  color: #282828 !important;
  padding: 4px 8px;
  height: 42px !important;
  line-height: 28px;
  border: 0px solid rgba(170, 170, 170, 0);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #333333 !important;
  font-family: var(--fontFamily) !important;
  font-size: 14px;
  transform: translate(3px, 8px);
  font-weight: 600;
}

.choices__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #f9f9f9;
  padding: 19.5px 7.5px 0.75px;
  border: 1px solid #ddd;
  border-radius: 2.5px;
  font-size: 14px;
  min-height: 44px;
  overflow: hidden;
}

.choices__input {
  display: inline-block;
  vertical-align: baseline;
  background-color: #f9f9f9;
  font-size: 14px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: 16px 0 4px 4px !important;
  color: #000000 !important;
  font-weight: 600 !important;
}

/*form */
.fmb-btn-verifikasi {
  font-family: var(--fontFamily) !important;
  background: #FAB91D !important;
  border: 1px #FAB91D solid !important;
  border-radius: 10px !important;
  padding: 10px 20px !important;
  font-weight: bold !important;
  font-size: 12px !important;
  color: #FFFFFF !important;
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
  z-index: 1;
}

.fmb-btn-submit {
  font-family: var(--fontFamily) !important;
  background: #FAB91D !important;
  border: 1px #FAB91D solid !important;
  border-radius: 0.75rem !important;
  padding: 24px 30px !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 18px !important;
  color: #FFFFFF !important;
  /* width: 120px !important; */
  margin-top: 24px !important;
  position: relative;
}
.fmb-btn-submit:hover {
  background: #ffca4d !important;
  border: 1px #ffca4d solid !important;
}

.fmb-btn-verifikasi:hover {
  background: #ffca4d !important;
  border: 1px #ffca4d solid !important;
}

.fmb-btn-submit:focus, .fmb-btn-verifikasi:focus {
  background: #dfa213 !important;
  border: 1px #dfa213 solid !important;
  box-shadow: none;
}

.fmb-btn-submit.disabled {
  /* font-family: var(--fontFamily) !important;
  * *background: rgba(253, 180, 21, 0.15) !important;
  * *border: 1px rgba(253, 180, 21, 0.15) solid !important;
  * *border-radius: 10px !important;
  * *padding: 15px 30px !important;
  * *font-weight: bold !important;
  * *font-size: 16px !important;
  * *line-height: 18px !important;
  * *color: rgba(250, 185, 29, 0.55) !important;
  * *cursor: no-drop !important; */
}

.fmb-btn-grey {
  font-family: var(--fontFamily) !important;
  background: #ffffff !important;
  border: 1px #ececec solid !important;
  border-radius: 10px !important;
  padding: 24px 30px !important;
  font-weight: bold !important;
  font-size: 16px !important;
  line-height: 18px !important;
  color: #cecece !important;
  width: 60px !important;
  margin-top: 24px !important;
  position: absolute !important;
  right: 150px !important;
}
.fmb-btn-grey:hover, .fmb-btn-grey:focus {
  background: #ffffff !important;
  border: 1px #ececec solid !important;
  color: #cecece !important;
}

/*alert */
.fmb-alert-danger {
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0 14px !important;
  padding-top: 2px !important;
  padding-bottom: 6px !important;
  margin-bottom: 0 !important;
  display: flex;
}

.fmb-alert-error {
  padding: 0;
}

.fmb-alert-danger p {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #394452;
  margin-bottom: 0;
  margin-left: 5px;
}

/*alert */
/*otp */
.btn-otp {
  position: absolute;
  right: 12px !important;
  top: 12px !important;
  padding: 12px 17px !important;
  border-radius: 10px;
  cursor: pointer !important;
}

@media only screen and (max-width: 768px) {
  .btn-otp {
    position: absolute;
    right: 12px !important;
    top: 12px !important;
    padding: 12px 17px !important;
    border-radius: 10px;
    cursor: pointer !important;
  }
}
.badge-warning {
  background-color: var(--yellow);
  color: var(--white);
}

.badge-soft-yellow {
  background: #FFDA83;
  color: rgba(255, 255, 255, 0.5);
}

.detail-form .badge {
  font-weight: 600 !important;
  font-size: 12px;
}

.text-sub-title-2 {
  font-size: 10px;
  color: #394452;
}

.text-light-countdown {
  color: var(--blue);
  font-weight: 500;
  font-family: var(--fontFamily) !important;
  font-size: 12px;
  transform: translateX(5px);
}

.form-email {
  padding-right: 27% !important;
}

.floating-text {
  position: relative;
  margin-bottom: 0px;
  margin-top: 20px;
  border-radius: 10px !important;
  padding: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.fmb-badge-outline-secondary {
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ABABAB;
}

.fmb-badge-success {
  background: rgba(29, 173, 75, 0.15);
  border-radius: 5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 12px;
  color: #1DAD4B;
}

#terverifikasi {
  right: auto;
  left: 0 !important;
}

/*new 2 */
.bs-stepper-content {
  padding-bottom: 0px !important;
  padding: 0 !important;
}

.bs-stepper .line, .bs-stepper-line {
  flex: 1 0 31px;
  min-width: 4px;
  min-height: 1px;
  margin: auto;
  margin-left: 44px;
  background-color: rgb(251, 208, 103);
}

.bs-stepper-header {
  display: flex;
  align-items: center;
  padding: 0;
}

.detail-form .bs-stepper-header .step.active .bs-stepper-circle {
  background-color: #2866C1 !important;
  background-color: #2866C1 !important;
}

.bs-stepper-circle.active-2 {
  background-color: #2866C1 !important;
}
.bs-stepper-circle.active-3 {
  background-color: #24C074 !important;
}

.badge-blue {
  background-color: #2866C1;
  transform: translateY(-3px);
}

.badge-green {
  background: #E3FAED !important;
  color: #21C274 !important;
  transform: translateY(-3px);
}

.stepper-line {
  width: 4px;
  height: 30px;
  border-radius: 40px;
  transform: translateX(26px);
}

.step-line-first {
  background-color: #FFDA83;
}

.step-line-green {
  background-color: #24C074;
}

/* .height-body-stepper{
 * *  height: 850px !important;
 * *} */
.modal {
  /* background-color: #000000aa !important; */
  background-color: rgba(0, 0, 0, 0.1254901961) !important;
  transition: 0.5s;
}

.modal-otp {
  padding: 30px;
  background: #FFFDF9;
  border: 1px solid #FAB91D;
  box-sizing: border-box;
  border-radius: 15px;
  margin-top: 12px;
}
.modal-otp h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #2D3244;
}
.modal-otp h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 0;
}
.modal-otp p {
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #ABABAB;
}

.tab-location {
  display: block;
}

.btn-outline-grey {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #E1E1E1;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ACACAC;
  padding-right: 15px;
  padding-left: 15px;
}
.btn-outline-grey:hover, .btn-outline-grey:focus {
  background: rgba(106, 106, 106, 0.893);
  border: 1px solid #6A6A6C;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.btn-outline-green {
  background: rgba(29, 173, 75, 0.05);
  border: 1px solid #1DAD4B;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #1DAD4B;
  padding-right: 15px;
  padding-left: 15px;
}
.btn-outline-green:hover, .btn-outline-green:focus {
  background: #1DAD4B;
  border: 1px solid #1DAD4B;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.step {
  height: 90px;
  display: flex;
}

.bs-stepper .step-trigger {
  padding: 0;
  padding-right: 10px;
}
.bs-stepper .content.fade {
  display: none !important;
}

.bs-stepper-pane.fade {
  display: none !important;
}

.bs-stepper .content.fade.active, .bs-stepper-pane.fade.active {
  display: block !important;
}

/*responsive */
.desktop {
  display: block;
}

.mobile {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
}
/*responsive */
@media only screen and (max-width: 991px) {
  .fmb-form-group {
    padding: 20px 0px !important;
  }
  .bs-stepper-header {
    padding: 0 0%;
  }
}
@media only screen and (max-width: 768px) {
  .bs-stepper-header {
    padding: 8px 15%;
  }
  .step {
    height: 120px;
  }
}
@media only screen and (max-width: 768px) {
  .fmb-form-group {
    padding: 20px 0px !important;
  }
  .bs-stepper-header {
    padding: 0 0%;
  }
  #form-berlangganan .px-5 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  /*      .height-body-stepper {
  * *   height: 820px !important;
  * * } */
  .text-step-header {
    padding: 0px 0;
  }
}
@media only screen and (max-width: 767px) {
  .tab-location.mobile {
    display: flex !important;
    justify-content: space-between;
    padding: 0px 0px;
  }
  .stepper-line {
    transform: translateX(-22px) translateY(-30px);
    width: 30px;
    height: 4px;
    border-radius: 40px;
  }
  .form-text h6.title, .form-text h2 {
    text-align: center;
  }
  .bs-stepper .step-trigger {
    padding: 0 10px;
    height: 50px;
  }
  .step {
    height: 150px;
    display: flex;
    text-align: start;
  }
  .detail-form form {
    background: #FFFFFF;
    box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.1);
    border-radius: 25px 25px 0px 0px;
    padding: 30px 15px 55px 15px !important;
  }
  .mobile-text-stepheader-1::after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
  }
}
@media only screen and (max-width: 520px) {
  .bs-stepper-circle {
    height: 60px;
    width: 42px;
  }
}
.detail-form form {
  background: #FFFFFF;
  box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.1);
  border-radius: 25px 25px 0px 0px;
  padding: 30px 40px 85px 40px;
}
.detail-form .bs-stepper-header .step .bs-stepper-circle {
  background-color: rgba(255, 255, 255, 0.3294117647);
}

.form-text h6, .form-text h2 {
  color: #fff !important;
}

#otp-form {
  display: block;
  padding: 16px !important;
}

.badge-secondary {
  background-color: #c9c9c9;
  color: #7a7a7a;
}

@media only screen and (max-width: 767px) {
  .fmb-form-group {
    padding: 0 !important;
  }
  .detail-form {
    padding-bottom: 0 !important;
  }
  .detail-form .container {
    padding: 0 0px;
    max-width: 100%;
  }
  .detail-form form {
    border-radius: 10px 10px 0 0;
  }
}
/* .fmb-btn-submit
 * &.disabled
 *  padding: 11px 16px !important
 *  z-index: 2
 *
 * padding: 11px 16px !important
 * z-index: 2 */
.step-trigger {
  cursor: default !important;
}
.step-trigger:hover, .step-trigger:active {
  cursor: default !important;
}

.form-check-label {
  font-family: var(--fontFamily) !important;
  font-size: 14px;
  color: #191919;
}

.form-check {
  margin-top: 20px;
}

.choices__inner {
  background-color: rgba(249, 249, 249, 0) !important;
  border: 1px solid rgba(249, 249, 249, 0) !important;
}

.choices__input {
  background-color: rgba(249, 249, 249, 0);
  font-family: var(--fontFamily) !important;
}

.choices__list--multiple .choices__item {
  font-family: var(--fontFamily) !important;
  background-color: #005ae0;
  border: 1px solid #005ae0;
}

.choices__list--dropdown .choices__item {
  font-size: 12px !important;
  font-family: var(--fontFamily) !important;
  color: #171717 !important;
}

.is-open .choices__list--dropdown {
  border-color: rgba(183, 183, 183, 0) !important;
  border-radius: 10px !important;
}

.text-light-countdown {
  color: var(--blue);
  font-weight: 700;
  font-family: var(--fontFamily) !important;
}

.select2-container--default .select2-selection--single {
  background: url("https://staging-business.firstmedia.com:8443/files/photos/shares/banner/dropdown-arrow.png") no-repeat right center;
  background-color: transparent !important;
  color: #282828 !important;
  padding: 4px 8px;
  height: 34px !important;
  line-height: 28px;
  border: 0px solid rgba(170, 170, 170, 0) !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #2c2c2c !important;
  font-family: var(--fontFamily) !important;
  font-size: 14px;
}

.select2-dropdown {
  background-color: white;
  border: 0px solid rgba(170, 170, 170, 0);
  border-radius: 10px !important;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
  padding: 5px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #007bff;
  color: white;
}
.select2-container--default .select2-results__option {
  padding: 0.5rem;
}

.select2-results__options {
  list-style: none;
  color: #1b1b1b;
  font-family: "Gilroy";
  font-size: 14px;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  width: 100% !important;
  vertical-align: middle;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  font-family: var(--fontFamily) !important;
  font-size: 14px;
}

.form-text h6, .form-text h4 {
  color: #fff !important;
  color: var(--color-neutral-500) !important;
}

#otp-form {
  display: block;
  padding: 16px !important;
}

#verifikasi-otp {
  top: 30px !important;
  right: 25px !important;
}

.badge-secondary {
  background-color: #c9c9c9;
  color: #7a7a7a;
}

.pt-temp-form {
  padding-top: 4rem;
}

.floating-label-multiple {
  padding-top: 0px;
  padding-bottom: 0px;
}
.floating-label-multiple:hover, .floating-label-multiple:focus {
  padding-top: 0px;
  padding-bottom: 0px;
}

.form-check {
  margin-top: 8px;
}

.form-check-label {
  transform: translateY(0px) !important;
  font-size: 12px !important;
}

.label-key-business {
  font-size: 14px;
  transform: translateY(12px);
}

@media only screen and (max-width: 767px) {
  .fmb-form-group {
    padding: 0 !important;
  }
  .detail-form {
    padding-bottom: 0 !important;
  }
  .detail-form .container {
    padding: 0 0px;
    max-width: 100%;
  }
  .detail-form form {
    border-radius: 20px 20px 0 0;
    padding-bottom: 75px !important;
  }
}
.fmb-btn-grey {
  padding: 10px 0px !important;
  right: 142px !important;
  margin-right: 10px !important;
  z-index: 1;
}

.form-berlangganan-prev, .swiper-container-rtl .form-berlangganan-next {
  left: auto;
  right: auto;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
}

@media only screen and (max-width: 767px) {
  .fmb-btn-submit.form-berlangganan-next, .fmb-btn-submit.form-berlangganan-prev {
    position: unset;
    top: unset;
    bottom: 55px;
  }
  .fmb-btn-grey.form-berlangganan-prev {
    position: unset !important;
  }
}/*# sourceMappingURL=form-berlangganan.css.map */