:root {
    --color-R900: #380909;
    --color-R800: #610f0f;
    --color-R700: #8c1616;
    --color-R600: #b81d1d;
    --color-R500: #e52424;
    --color-R400: #f15c59;
    --color-R300: #fc7474;
    --color-R200: #ffb9b9;
    --color-R100: #ffdfdf;
    --color-Y900: #3d3500;
    --color-Y800: #6c5e00;
    --color-Y700: #ad9700;
    --color-Y600: #e5c700;
    --color-Y500: #fedd00;
    --color-Y400: #fee645;
    --color-Y300: #feec73;
    --color-Y200: #fef2a2;
    --color-Y100: #fef8d0;
    --color-B900: #001833;
    --color-B800: #002a58;
    --color-B700: #003d81;
    --color-B600: #004fa7;
    --color-B500: #0064d2;
    --color-B400: #007bff;
    --color-B300: #5baaff;
    --color-B200: #a3cfff;
    --color-B100: #e7f2ff;
    --color-G900: #022612;
    --color-G800: #054a24;
    --color-G700: #076a33;
    --color-G600: #088942;
    --color-G500: #0bae54;
    --color-G400: #3ccc7d;
    --color-G300: #66cc94;
    --color-G200: #a8e5c4;
    --color-G100: #e2fbed;
    --color-N900: #18191b;
    --color-N800: #303135;
    --color-N700: #4d4f56;
    --color-N600: #71747d;
    --color-N500: #8c909e;
    --color-N400: #aeb2be;
    --color-N300: #c0c3cf;
    --color-N200: #d8dce8;
    --color-N100: #f4f7fe;
    --color-N50: #f8f9fd;
    --color-N0: #fff;
    --color-T900: #092227;
    --color-T800: #14353c;
    --color-T700: #174f59;
    --color-T600: #148692;
    --color-T500: #10a4af;
    --color-T400: #30b6c5;
    --color-T300: #7cd4e4;
    --color-T200: #9fdfed;
    --color-T100: #e0f1f5;
    --color-O900: #662e00;
    --color-O800: #b85300;
    --color-O700: #b85300;
    --color-O600: #e06500;
    --color-O500: #ff7200;
    --color-O400: #ff841f;
    --color-O300: #ffa55c;
    --color-O200: #ffc799;
    --color-O100: #ffe9d6;
    --color-P900: #210671;
    --color-P800: #311093;
    --color-P700: #4c15cb;
    --color-P600: #7846ec;
    --color-P500: #9770f0;
    --color-P400: #ae90f3;
    --color-P300: #c9b5f7;
    --color-P200: #e4dafb;
    --color-P100: #f1edfd;
    --color-C900: #330724;
    --color-C800: #460c32;
    --color-C700: #8c1865;
    --color-C600: #c0218b;
    --color-C500: #de3fa9;
    --color-C400: #e76fbf;
    --color-C300: #ed96d0;
    --color-C200: #f6cbe8;
    --color-C100: #fceef7;
    --gradient-gg100: #01cf6c;
    --gradient-gg200: #02cd9c;
    --gradient-gv100: #18dc9b;
    --gradient-gv200: #6e54ef;
    --gradient-go100: #ff7a00;
    --gradient-go200: #ff3e65;
    --gradient-gr100: #ff4062;
    --gradient-gr200: #ff00b8;
    --gradient-gt100: #00cc9b;
    --gradient-gt200: #017cff;
    --gradient-gb100: #007bff;
    --gradient-gb200: #00c1eb;
    --gradient-gl100: #e7f2ff;
    --gradient-gl200: #d9eafe;
    --gradient-gp100: #fa00b4;
    --gradient-gp200: #7600d2;
    --gradient-gts100: #47506f;
    --gradient-gts200: #cbd6ec;
    --gradient-gtgo100: #614500;
    --gradient-gtgo200: #ebbf4f;
    --gradient-gtp100: #0f0f0f;
    --gradient-gtp200: #838990;
    --gradient-gtd100: #000208;
    --gradient-gtd200: #1258c9;
    --gradient-gpl100: #4d4f56;
    --gradient-gpl200: #191a1c;
    --gradient-ggo100: #fffbee;
    --gradient-ggo200: #f4e3b0;
    --gradient-gs100: #e7eefe;
    --gradient-gs200: #dce1f2;
    --gradient-gso100: #727a96;
    --gradient-gso200: #3f4964;
    --font-color-high-emphasis: var(--color-N800);
    --font-color-low-emphasis: var(--color-N600);
    --font-color-disabled: var(--color-N400);
    --font-color-alert: var(--color-R400);
    --font-color-activity: var(--color-B400);
    --font-color-positive: var(--color-G500);
    --font-color-invert: var(--color-N0);
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-size-mobile-h1: 36px;
    --line-height-mobile-h1: 40px;
    --font-size-mobile-h2: 22px;
    --line-height-mobile-h2: 28px;
    --font-size-mobile-h3: 18px;
    --line-height-mobile-h3: 24px;
    --font-size-mobile-b1: 16px;
    --line-height-mobile-b1: 22px;
    --font-size-mobile-b2: 14px;
    --line-height-mobile-b2: 20px;
    --font-size-mobile-b3: 12px;
    --line-height-mobile-b3: 16px;
    --font-size-mobile-sm: 10px;
    --line-height-mobile-sm: 14px;
    --font-size-desktop-h1: 56px;
    --line-height-desktop-h1: 60px;
    --font-size-desktop-h2: 38px;
    --line-height-desktop-h2: 42px;
    --font-size-desktop-h3: 24px;
    --line-height-desktop-h3: 30px;
    --font-size-desktop-b1: 18px;
    --line-height-desktop-b1: 24px;
    --font-size-desktop-b2: 16px;
    --line-height-desktop-b2: 22px;
    --font-size-desktop-b3: 14px;
    --line-height-desktop-b3: 20px;
    --font-size-desktop-sm: 12px;
    --line-height-desktop-sm: 16px;
    --font-size-desktop-xs: 10px;
    --line-height-desktop-xs: 14px;
    --font-size-h1: var(--font-size-mobile-h1);
    --line-height-h1: var(--line-height-mobile-h1);
    --font-size-h2: var(--font-size-mobile-h2);
    --line-height-h2: var(--line-height-mobile-h2);
    --font-size-h3: var(--font-size-mobile-h3);
    --line-height-h3: var(--line-height-mobile-h3);
    --font-size-b1: var(--font-size-mobile-b1);
    --line-height-b1: var(--line-height-mobile-b1);
    --font-size-b2: var(--font-size-mobile-b2);
    --line-height-b2: var(--line-height-mobile-b2);
    --font-size-b3: var(--font-size-mobile-b3);
    --line-height-b3: var(--line-height-mobile-b3);
    --font-size-sm: var(--font-size-mobile-sm);
    --line-height-sm: var(--line-height-mobile-sm);
    --font-size-xs: var(--font-size-mobile-sm);
    --line-height-xs: var(--line-height-mobile-sm);
    --gutter-8: 8px;
    --gutter-12: 12px;
    --gutter-16: 16px;
    --gutter-24: 24px;
    --edge-padding: 20px;
    --container-max-width: none;
    --color-shadow-rgb: 48,49,53;
    --elevation-1: 0 2px 8px 0 rgba(var(--color-shadow-rgb),0.16);
    --elevation-2: 0 8px 16px 0 rgba(var(--color-shadow-rgb),0.1);
    --space-2: 2px;
    --space-4: 4px;
    --space-8: 8px;
    --space-12: 12px;
    --space-16: 16px;
    --space-24: 24px;
    --layout-8: 8px;
    --layout-12: 12px;
    --layout-16: 16px;
    --layout-24: 24px;
    --layout-32: 32px;
    --layout-48: 48px;
    --layout-64: 64px;
    --layout-96: 96px;
    --layout-128: 128px;
    --z-loading-with-illustration: 1100;
    --z-snackbar: 1001;
    --z-bottom-sheet: 1000;
    --z-tooltip: 999;
    --color-blanket-rgb: 24,25,27;
    --bg-color-blanket: rgba(var(--color-blanket-rgb),0.4)
}

@media (min-width: 600px) {
    :root {
        --edge-padding:40px
    }
}

@media (min-width: 840px) {
    :root {
        --font-size-h1:var(--font-size-desktop-h1);
        --line-height-h1: var(--line-height-desktop-h1);
        --font-size-h2: var(--font-size-desktop-h2);
        --line-height-h2: var(--line-height-desktop-h2);
        --font-size-h3: var(--font-size-desktop-h3);
        --line-height-h3: var(--line-height-desktop-h3);
        --font-size-b1: var(--font-size-desktop-b1);
        --line-height-b1: var(--line-height-desktop-b1);
        --font-size-b2: var(--font-size-desktop-b2);
        --line-height-b2: var(--line-height-desktop-b2);
        --font-size-b3: var(--font-size-desktop-b3);
        --line-height-b3: var(--line-height-desktop-b3);
        --font-size-sm: var(--font-size-desktop-sm);
        --line-height-sm: var(--line-height-desktop-sm);
        --font-size-xs: var(--font-size-desktop-xs);
        --line-height-xs: var(--line-height-desktop-xs);
        --container-max-width: 760px
    }
}