html,
body {
    font-family: 'Roboto', sans-serif;
    background: #0a090e;
}

.self-service-bar {
    /* background: #101010; */
    background: #0a090e;
}

.self-service-bar .navbar-brand {
    font-weight: 700;
    /* background: rgb(24, 24, 24); */
    /* background: #181818; */
    padding: 35px 20px 0px 20px;
    width: 100%;
    padding-left: 2rem;
}

.self-service-bar .navbar-nav li.nav-item.active {
    background: linear-gradient(90deg, rgba(71, 126, 255, 0.76) 0%, rgba(71, 126, 255, 0.542292) 4%, rgba(71, 126, 255, 0) 45.93%);
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-left: 10px solid #477EFF;
    /* box-shadow: 0px 0px 0px 10px #477EFF inset; */
}

.self-service-bar .navbar-nav li.nav-item {
    font-weight: 400;
    font-size: 16px;
    transition: .25s;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.self-service-bar .navbar-nav li.nav-item:hover,
.self-service-bar .navbar-nav li.nav-item:focus {
    background: linear-gradient(90deg, rgba(150, 180, 255, 0.76) 0%, rgba(150, 180, 255, 0.542292) 4%, rgba(150, 180, 255, 0) 45.93%);
    font-weight: bold;
    /* font-size: 16px; */
    letter-spacing: 1px;
    text-transform: uppercase;
    /* 71, 126, 255 */
    border-left: 10px solid rgb(194, 211, 255);
    /* box-shadow: 0px 0px 0px 10px #477EFF inset; */
}

.self-service-bar .navbar-nav li.nav-item.nav-detail-pelanggan .nav-link.disabled {
    font-weight: 400;
    font-size: 14px;
    color: white !important;
    line-height: 22px !important;
    letter-spacing: 1px;
    text-transform: none;
    margin-bottom: 30px;
    margin-top: 10px;
}

.self-service-bar .navbar-nav li.nav-item.nav-detail-pelanggan:hover,
.self-service-bar .navbar-nav li.nav-item.nav-detail-pelanggan:focus {
    background: transparent;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 1px;
    /* 71, 126, 255 */
    color: white !important;
    border-left: none;
    /* box-shadow: 0px 0px 0px 10px #477EFF inset; */
}

.nav-detail-pelanggan .profile {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.nav-detail-pelanggan .profile.content-profile .noacc {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

.nav-detail-pelanggan .profile.content-profile .nama {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.nav-detail-pelanggan .profile.content-profile .email {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.img-profile img {
    width: 55px;
    border-radius: 50%;
}


/* #################
MAIN CONTENT */

.container-main-content {
    padding-right: 35px;
}

.main-content {
    background: #111111;
    background: #13131b;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 50px;
    border-radius: 20px;
    height: 100vh;
}

.main-content .judul-page {
    font-size: 25px;
    letter-spacing: 1px;
    color: white;
    font-weight: 600;
}

.main-content .judul-page:before {
    content: "";
    background: #477eff;
    display: block;
    width: 50px;
    height: 8px;
    border-radius: 100px;
    margin-bottom: 15px;
}

.main-content .content-page {
    margin-top: 35px;
}

.main-content .content-page .component {
    margin-bottom: 30px;
}

.main-content .content-page .component.component-layanan {
    margin-bottom: 30px;
    padding: 25px 20px;
    background: #0a090e;
    border-radius: 10px;
}

.main-content .content-page .jdl-component {
    font-size: 16px;
    font-weight: 400;
    color: #656572;
    margin-bottom: 5px;
}

.main-content .content-page .sub-component {
    font-size: 22px;
    color: white;
    font-weight: 600;
}

.main-content .content-page .sub-component span.ch-tv {
    font-size: 16px;
    color: #477eff;
    border-radius: 100px;
    font-weight: 600;
    padding: 2px 10px;
    background: #ffffff;
    vertical-align: text-bottom;
    margin-left: 5px;
}

.main-content .content-page .sub-component span.tgl-terakhir {
    font-size: 14px;
    font-weight: 400;
}

.info-tagihan {
    padding: 15px 10px 10px 10px;
    background: #0a090e;
    border-radius: 10px;
    margin-bottom: 30px;
    color: white;
}

.scan-tagihan {
    padding: 15px 25px;
    background: white;
    border-radius: 10px;
}

.text-qr {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
}

.nav-detail-pelanggan .content-profile {
    padding-left: 20px;
}


/* PESAN */

.item-pesan {
    letter-spacing: .2px;
    margin-bottom: 20px;
    transition: .25s;
}

.item-pesan:hover,
.item-pesan:focus {
    letter-spacing: .2px;
    background: rgb(10, 9, 14);
    padding: 20px;
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-radius: 10px;
}

hr.line-pesan {
    background: rgb(48, 48, 48) !important;
    margin-bottom: 20px;
}

.item-pesan .img-pesan {
    width: 85%;
    height: 55px;
    border-radius: 10px;
    background: rgb(240, 86, 112);
    background-size: cover !important;
    background-position: center !important;
}

.item-pesan .content-pesan .jdl-pesan {
    font-size: 16px;
    color: white;
    font-weight: 700;
    margin-bottom: 3px;
}

.item-pesan .content-pesan .desc-pesan {
    font-size: 14px;
    color: rgb(145, 145, 145) !important;
    font-weight: 300;
    margin-bottom: 8px;
}

.item-pesan .content-pesan .waktu-pesan {
    font-size: 10px;
    color: rgb(104, 104, 104) !important;
    font-weight: 400;
}


/* BANTUAN */

.item-bantuan {
    letter-spacing: .2px;
    margin-bottom: 20px;
    transition: .25s;
}

.item-bantuan .item-bantuan-right {
    margin-top: 5%;
    color: #969696;
    float: right;
    padding-right: 15%;
    display: none;
}

.item-bantuan:hover,
.item-bantuan:focus {
    letter-spacing: .2px;
    /* background: rgb(10, 9, 14); */
    background: white;
    padding: 20px;
    color: black;
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-radius: 10px;
}

.item-bantuan:hover .item-bantuan-right,
.item-bantuan:focus .item-bantuan-right {
    display: block;
}

.item-bantuan:hover .jdl-bantuan,
.item-bantuan:focus .jdl-bantuan {
    color: #0a090e !important;
}

hr.line-pesan {
    background: rgb(48, 48, 48) !important;
    margin-bottom: 20px;
}

.item-bantuan .img-bantuan {
    width: 100%;
    /* height: 35px; */
    border-radius: 10px;
    /* background: rgb(240, 86, 112); */
    background-size: cover !important;
    background-position: center !important;
}

.item-bantuan .img-bantuan img {
    width: 100%;
    /* height: 35px; */
    border-radius: 10px;
    /* background: rgb(240, 86, 112); */
    background-size: cover !important;
    background-position: center !important;
}

.item-bantuan .content-bantuan .jdl-bantuan {
    font-size: 18px;
    color: white;
    font-weight: 700;
    margin-bottom: 3px;
}

.item-bantuan .content-bantuan .cat-bantuan {
    font-size: 12px;
    letter-spacing: .5px;
    color: rgb(104, 104, 104) !important;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 5px;
}


/* MODAL */

.modal-qr-myfirstmedia .modal-title {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    letter-spacing: .2px;
    /* text-transform: uppercase; */
    color: rgb(151, 151, 151);
}

.modal-qr-myfirstmedia .modal-title span {
    font-size: 14px;
    text-align: center;
    letter-spacing: .2px;
    font-weight: 800;
    text-transform: uppercase;
    color: #f8981c;
}

.modal-qr-myfirstmedia .btn-close-modal-myfirstmedia {
    width: 100%;
    letter-spacing: .2px;
    border-radius: 100px !important;
    color: #AEAEAE !important;
    background: #ebebeb !important;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    border: none !important;
}

.modal-qr-myfirstmedia .modal-header {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.modal-qr-myfirstmedia .modal-header .close {
    display: none !important;
}

.modal-qr-myfirstmedia .img-qr-myfirstmedia {
    margin: 0 auto;
}

.modal-qr-myfirstmedia .img-qr-myfirstmedia img {
    width: 100%;
}

.modal-qr-myfirstmedia .modal-footer {
    border-top: none !important;
    padding-top: 5px !important;
    padding-bottom: 15px !important;
    background: #ebebeb;
}